<div id="{{ key }}-group"
  class="govuk-form-group {% if compound %} form-group-compound{% endif %}{% if formGroupClassName %} {{ formGroupClassName }}{% endif %}{% if error %} govuk-form-group--error{% endif %}">
  {% if error %}
  <p id="{{ key }}-error" class="govuk-error-message" aria-hidden="true">
    <span class="govuk-visually-hidden">Error:</span> {{ error.message }}
  </p>
  {% endif %}
  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" type="checkbox" id="{{ key }}" name="{{ key }}" value="true"
        aria-required="{{ required }}" {% if error %} aria-invalid="true" {% endif %}{% if toggle %}
        aria-controls="conditional-{{ key }}" {% endif %}{% if selected %} checked="checked" {% endif %}>
      <label for="{{ key }}"
        class="{% if className %}{{ className }} {% endif %}{% if invalid %}invalid-input{% endif %}">
        {{ label | safe }}
        {% if error %}<span class="visuallyhidden">{{ error.message }}</span>{% endif %}
      </label>
      {% if hint %}
      <div id="{{ key }}-hint" class="govuk-hint govuk-checkboxes__hint">
        {{ hint | safe }}
      </div>
      {% endif %}
    </div>
    {% if toggle %}
    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-{{ key }}">
      {{ renderChild({ toggle: toggle, child: child }) | safe }}
    </div>
    {% endif %}
  </div>
</div>
