 {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
 {% from "partials/warn.njk" import warningComponent %}

{% set items = [] %}

{% for option in options %}
{#------------------------------------------#}
{#  Set conditional HTML                    #}
{#------------------------------------------#}
  {% set conditionalHtml = "" %}
  {% set conditionalHtml %}
    {{ option.renderMixin(option) | safe }}
  {% endset %}

{#------------------------------------------#}
{#  Set checkbox items                      #}
{#------------------------------------------#}
  {# Add divider BEFORE the exclusive option #}
  {% if option.divider !== "after" and option.behaviour === "exclusive" %}
    {% set items = items.concat([{
      divider: "or"
    }]) %}
  {% endif %}

  {% set items = items.concat([{
    value: option.value,
    html: option.label | safe,
    checked: option.selected or false,
    id: key + '-' + option.value,
    name: key,
    hint: option.optionHint and {
      text: option.optionHint
    } or null,
    conditional: option.toggle and {
      html: conditionalHtml
    } or null,
    behaviour: option.behaviour
  }]) %}

  {# Add divider AFTER the exclusive option #}
  {% if option.divider === "after" and option.behaviour === "exclusive" %}
    {% set items = items.concat([{
      divider: "or"
    }]) %}
  {% endif %}
{% endfor %}

{#-------------------------------------------#}
{#  Set form group and legend classes        #}
{#-------------------------------------------#}
{% set formGroupClasses = "" %}
{% set legendClasses = "" %}
{% set classes = className or "" %}
{% set formGroupClasses = formGroupClasses + formGroupClassName if formGroupClassName %}
{% set legendClasses = legendClasses + "govuk-fieldset__legend--l " if isPageHeading %}


{#------------------------------------------#}
{#  Set hint object if hint exists          #}
{#------------------------------------------#}
{% set hintObj = null %}
{% if hint %}
  {% set hintObj = {
    html: hint | safe,
    classes: "govuk-hint"
  } %}
{% endif %}

{#------------------------------------------#}
{#  Set error object if error exists        #}
{#------------------------------------------#}
{% set errorObj = null %}
{% if error %}
  {% set errorObj = {
    text: error.message,
    id: error.id
  } %}
{% endif %}

{#----------------------------------------------#}
{#  Set beforeInput HTML                        #}
{#----------------------------------------------#}
{% if isWarning %}
  {% set beforeInputObj = { html: warningComponent(warning) | safe } %}
{% else %}
  {% set beforeInputObj = null %}
{% endif %}

{#----------------------------------------------#}
{#  Set govukCheckboxes args                    #}
{#----------------------------------------------#}
{% set args = {
  formGroup: {
    classes: formGroupClasses,
    beforeInputs: beforeInputObj
  },
  fieldset: {
    legend: {
      html: legend,
      isPageHeading: isPageHeading,
      classes: legendClasses + (legendClassName if legendClassName)
    }
  },
  idPrefix: key,
  name: key,
  classes: classes,
  hint: hintObj,
  errorMessage: errorObj,
  items: items
} %}

{% if isWarning %}
  <div class="govuk-form-group{% if errorObj %} govuk-form-group--error{% endif %} {{ formGroupClasses }}">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend {{ legendClasses }}">
        {{ legend | safe }}
      </legend>
      {% if isWarning %}
        {{ warningComponent(warning) }}
      {% endif %}

      {% if hintObj %}
        <div id="{{ key }}-hint" class="{{ hintObj.classes }}">
          {{ hintObj.html | safe }}
        </div>
      {% endif %}

      {% if errorObj %}
        <span id="{{ errorObj.id }}" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errorObj.text }}
        </span>
      {% endif %}

      <div class="govuk-checkboxes {{ classes }}" data-module="govuk-checkboxes">
        {% for option in options %}
          {% if option.divider !== "after" and option.behaviour === "exclusive" %}
          <div class="govuk-checkboxes__divider">or</div>
          {% endif %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input"
                  id="{{ key }}-{{ option.value }}"
                  name="{{ key}}"
                  type="{{ option.type }}"
                  value="{{ option.value }}"
                  {% if option.selected %}checked{% endif %}
                  {% if option.toggle %}
                    aria-controls="conditional-{{ key }}-{{ option.value }}"
                  {% endif %}
                  {% for attr, val in option.attributes|default({}) %}
                    {{ attr }}="{{ val }}"
                  {% endfor %}>

            <label class="govuk-label govuk-checkboxes__label" for="{{ key }}-{{ option.value }}">
              {{ option.label | safe }}
            </label>

            {% if option.optionHint %}
              <div id="{{ key }}-{{ option.value }}-item-hint" class="govuk-hint govuk-checkboxes__hint">{{ option.optionHint }}</div>
            {% endif %}
          </div>
          {% if option.toggle %}
            <div id="conditional-{{ key }}-{{ option.value }}"
            class="govuk-checkboxes__conditional{% if not option.selected %} govuk-checkboxes__conditional--hidden{% endif %}"
            aria-hidden="{% if not option.selected %}true{% else %}false{% endif %}">
              {{ renderChild(option) | safe }}
            </div>
          {% endif %}
          {% if option.divider === "after" and option.behaviour === "exclusive" %}
          <div class="govuk-checkboxes__divider">or</div>
          {% endif %}
        {% endfor %}
      </div>
    </fieldset>
  </div>
{% else %}
 {{ govukCheckboxes(args) }}
{% endif %}
