{% from "govuk/components/input/macro.njk" import govukInput %}

{#-------------------------------------------#}
{#  Set form group classes                   #}
{#-------------------------------------------#}
{% set formGroupClasses = "" %}

{% set formGroupClasses = formGroupClasses + formGroupClassName if formGroupClassName %}

{#------------------------------------------#}
{#  Set hint object if hint exists          #}
{#------------------------------------------#}
{% set hintObj = null %}
{% if hint %}
  {% set hintObj = {
    html: hint | safe,
    classes: "govuk-hint",
    id: hintId
  } %}
{% endif %}

{#------------------------------------------#}
{#  Set error object if error exists        #}
{#------------------------------------------#}
{% set errorObj = null %}
{% if error %}
  {% set errorObj = {
    text: error.message,
    id: error.id
  } %}
{% endif %}

{#----------------------------------------------#}
{#  Set beforeInput HTML from renderChild()     #}
{#----------------------------------------------#}
{% if renderChild is defined %}
  {% set beforeInputObj = { html: renderChild({}) | safe } %}
{% else %}
  {% set beforeInputObj = undefined %}
{% endif %}

{#----------------------------------------------#}
{#  Set prefix and suffix text                  #}
{#----------------------------------------------#}
{% if prefix or suffix is defined %}
  {% set prefixObj = { text: prefix } %}
  {% set suffixObj = { text: suffix } %}
{% endif %}

{#----------------------------------------------#}
{#  Set govukInput args                         #}
{#----------------------------------------------#}
{% set args = {
  formGroup: {
    classes: formGroupClasses,
    beforeInput: beforeInputObj
  },
  label: {
    html: label | safe,
    classes: labelClassName,
    for: id
  },
  hint: hintObj,
  prefix: prefixObj,
  suffix: suffixObj,
  classes: className + (" govuk-input--error" if error),
  id: id,
  name: id,
  type: type,
  autocomplete: autocomplete,
  value: value,
  pattern: pattern,
  attributes: attributes,
  disabled: disabled
} %}
<div class="{{ amountWithUnitSelectItemClassName }}"> 
    {{ govukInput(args) }}
</div>
