{% from "govuk/components/select/macro.njk" import govukSelect %}

{#-------------------------------------------#}
{#  Set form group and label classes         #}
{#-------------------------------------------#}
{% set formGroupClasses = "" %}

{% set formGroupClasses = formGroupClasses + formGroupClassName if formGroupClassName %}


{#------------------------------------------#}
{#  Set hint object if hint exists          #}
{#------------------------------------------#}
{% set hintObj = null %}
{% if hint %}
  {% set hintObj = {
    html: hint | safe,
    classes: "govuk-hint",
    id: hintId
  } %}
{% endif %}

{#------------------------------------------#}
{#  Set error object if error exists        #}
{#------------------------------------------#}
{% set errorObj = null %}
{% if error %}
  {% set errorObj = {
    text: error.message,
    id: error.id
  } %}
{% endif %}

{#----------------------------------------------#}
{#  Set govukSelect args                         #}
{#----------------------------------------------#}
{% set args = {
  id: id,
  name: id,
  value: value,
  formGroup: {
    classes: formGroupClasses
  },
  label: {
    html: label | safe,
    classes: labelClassName,
    for: id
  },
  hint: hintObj,
  classes: className + ("govuk-select--error" if error),
  items: items,
  attributes: {
    "aria-required": required
  }
} %}
<div class="{{ amountWithUnitSelectItemClassName }}">
  {{ govukSelect(args) }}
</div>
