<div id="{{id}}-group" class="{{#compound}} form-group-compound{{/compound}}{{#formGroupClassName}}{{formGroupClassName}}{{/formGroupClassName}}{{#error}} govuk-form-group--error{{/error}}">
    {{#isPageHeading}}<h1 class="govuk-label-wrapper">{{/isPageHeading}}<label for="{{id}}" class="{{labelClassName}}{{#isPageHeading}}govuk-label--l{{/isPageHeading}}">
        {{{label}}}
      </label>
    {{#isPageHeading}}</h1>{{/isPageHeading}}
    {{#hint}}<span {{$hintId}}id="{{hintId}}" {{/hintId}}class="govuk-hint">{{hint}}</span>{{/hint}}
    {{#error}}
      <p class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{error.message}}
      </p>
    {{/error}}
    {{#renderChild}}{{/renderChild}}
        {{#attributes}}
            {{#prefix}}
                <div class="govuk-input__prefix" aria-hidden="true">{{prefix}}</div>
            {{/prefix}}
        {{/attributes}}
        <input
            type="{{type}}"
            name="{{id}}"
            id="{{id}}"
            class="{{^className}}govuk-input{{/className}}{{#className}}{{className}}{{/className}}{{#error}} govuk-input—error{{/error}}"
            aria-required="{{required}}"
            {{#value}} value="{{value}}"{{/value}}
            {{#min}} min="{{min}}"{{/min}}
            {{#max}} max="{{max}}"{{/max}}
            {{#maxlength}} maxlength="{{maxlength}}"{{/maxlength}}
            {{#pattern}} pattern="{{pattern}}"{{/pattern}}
            {{#hintId}} aria-describedby="{{hintId}}"{{/hintId}}
            {{#error}} aria-invalid="true"{{/error}}
            {{#autocomplete}} autocomplete="{{autocomplete}}"{{/autocomplete}}
            {{#attributes}}
                {{attribute}}="{{value}}"
            {{/attributes}}
        >
        {{#attributes}}
            {{#suffix}}
                <div class="govuk-input__prefix" aria-hidden="true">{{suffix}}</div>
            {{/suffix}}
        {{/attributes}}
</div>
