{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{#-------------------------------------------#}
{#  Set form group and legend classes        #}
{#-------------------------------------------#}
{% set formGroupClasses = "" %}
{% set legendClasses = "" %}
{% set classes = "" %}
{% set formGroupClasses = formGroupClasses + formGroupClassName if formGroupClassName %}
{% set legendClasses = legendClasses + "govuk-fieldset__legend--l " if isPageHeading %}
{% set classes = classes + " govuk-input--error" if error %}

{#------------------------------------------#}
{#  Set hint object if hint exists          #}
{#------------------------------------------#}
{% set hintObj = null %}
{% if hint %}
  {% set hintObj = {
    html: hint | safe,
    classes: "govuk-hint",
    id: hintId
  } %}
{% endif %}

{#------------------------------------------#}
{#  Set error object if error exists        #}
{#------------------------------------------#}

{% set errorObj = null %}
{% if error %}
  {% set errorObj = {
    text: error.message
  } %}
{% endif %}

{#----------------------------------------------#}

{#  Set beforeInput HTML from renderChild()     #}

{#----------------------------------------------#}

{% if renderChild is defined %}
  {% set beforeInputObj = { html: renderChild({}) | safe } %}
{% else %}
  {% set beforeInputObj = undefined %}
{% endif %}

{{ govukDateInput({
  id: id,
  namePrefix: id,
  formGroup: {
    classes: formGroupClasses,
    beforeInput: beforeInputObj

  },
  classes: classes,
  fieldset: {
    legend: {
      text: legend,
      classes: legendClasses + (legendClassName if legendClassName)
    }
  },
  hint: hintObj,
  items: [
    {
      id: day.id,
      name: day.id,
      label: day.label,
      classes: day.className + classes,
      value: day.value,
      attributes: {
        autocomplete: autocomplete.day,
        min: 1,
        max: 12,
        maxlength: 2
      }
    },
    {
      id: month.id,
      name: month.id,
      label: month.label,
      classes: month.className + classes,
      value: month.value,
      attributes: {
        autocomplete: autocomplete.month,
        min: 1,
        max: 12,
        maxlength: 2
      }
    },
    {
      id: year.id,
      name: year.id,
      label: year.label,
      classes: year.className + classes,
      value: year.value,
      attributes: {
        autocomplete: autocomplete.year,
        maxlength: 4
      }
    }
  ]
}) }}

