<div id="{{key}}-group" class="govuk-form-group{{#className}} {{className}} {{/className}}{{#formGroupClassName}} {{formGroupClassName}}{{/formGroupClassName}}{{#error}} govuk-form-group--error{{/error}}">
  <fieldset class="govuk-fieldset" {{#hint}} aria-describedby="{{key}}-hint"{{/hint}}>
      <legend class="govuk-fieldset__legend {{#isPageHeading}}govuk-fieldset__legend--l{{/isPageHeading}}{{#legendClassName}} {{legendClassName}}{{/legendClassName}}">
          {{#isPageHeading}}<h1 class="govuk-fieldset__heading">{{/isPageHeading}}
              {{legend}}
          {{#isPageHeading}}</h1>{{/isPageHeading}}
      </legend>
      {{#isWarning}}
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
             {{warning}}
            </strong>
          </div>
        {{/isWarning}}
      {{#hint}}<div id="{{key}}-hint" class="govuk-hint">{{hint}}</div>{{/hint}}
      {{#error}}<p id="{{key}}-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{error.message}}</p>{{/error}}
      {{{detail}}}
  <div class="govuk-radios" data-module="govuk-radios">
      {{#options}}
      <div class="govuk-radios__item">
          <input
      class="govuk-radios__input"
              type="{{type}}"
              name="{{key}}"
              id="{{key}}-{{value}}"
              value="{{value}}"
              {{#toggle}} data-toggle="{{toggle}}"{{/toggle}}
              {{#selected}} checked="checked"{{/selected}}
              {{^error}}{{#optionHint}} aria-describedby="{{key}}-{{value}}-hint"{{/optionHint}}{{^optionHint}}{{#hint}} aria-describedby="{{key}}-{{value}}-hint"{{/hint}}{{/optionHint}}{{/error}}
              {{#error}} aria-describedby="{{key}}-error" aria-invalid="true"{{/error}}
          >
          <label class="govuk-label govuk-radios__label" for="{{key}}-{{value}}">
              {{{label}}}
              {{#optionHint}}<div id="{{key}}-{{value}}-item-hint" class="govuk-hint govuk-radios__hint">{{optionHint}}</div>{{/optionHint}}
          </label>
      </div>
      {{#renderChild}}{{/renderChild}}
      {{/options}}
  </div>
  </fieldset>
</div>
