{% from "partials/warn.html" import warningComponent %}

<div id="{{ key }}-group" class="govuk-form-group{% if className %} {{ className }}{% endif %}{% if formGroupClassName %} {{ formGroupClassName }}{% endif %}{% if error %} govuk-form-group--error{% endif %}">
  <fieldset class="govuk-fieldset"{% if hint %} aria-describedby="{{ key }}-hint"{% endif %}>
    <legend class="govuk-fieldset__legend{% if isPageHeading %} govuk-fieldset__legend--l{% endif %}{% if legendClassName %} {{ legendClassName }}{% endif %}">
      {% if isPageHeading %}<h1 class="govuk-fieldset__heading">{% endif %}
        {{ legend }}
      {% if isPageHeading %}</h1>{% endif %}
    </legend>

    {% if isWarning %}
      {{ warningComponent(warning) }}
    {% endif %}

    {% if hint %}
      <div id="{{ key }}-hint" class="govuk-hint">{{ hint | safe }}</div>
    {% endif %}

    {% if error %}
      <p id="{{ key }}-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ error.message }}</p>
    {% endif %}

    {{ detail | safe }}

    <div class="govuk-radios" data-module="govuk-radios">
      {% for option in options %}
        <div class="govuk-radios__item">
          <input
            class="govuk-radios__input"
            type="{{ option.type }}"
            name="{{ key }}"
            id="{{ key }}-{{ option.value }}"
            value="{{ option.value }}"{% if option.toggle %} data-toggle="{{ option.toggle }}"{% endif %}{% if option.selected %} checked="checked"{% endif %}{% if not error %}{% if option.optionHint %} aria-describedby="{{ key }}-{{ option.value }}-item-hint"{% elif hint %} aria-describedby="{{ key }}-hint"{% endif %}{% endif %}{% if error %} aria-describedby="{{ key }}-error" aria-invalid="true"{% endif %}>
          <label class="govuk-label govuk-radios__label" for="{{ key }}-{{ option.value }}">
            {{ option.label | safe }}
          </label>

          {% if option.optionHint %}
            <div id="{{ key }}-{{ option.value }}-item-hint" class="govuk-hint govuk-radios__hint">{{ option.optionHint }}</div>
          {% endif %}
        </div>
        {{ renderChild(option) | safe }}
      {% endfor %}
    </div>
  </fieldset>
</div>
