{% from "govuk/components/select/macro.njk" import govukSelect %}

{#-------------------------------------------#}
{#  Set form group and label classes         #}
{#-------------------------------------------#}
{% set formGroupClasses = "" %}
{% set labelClasses = "" %}

{% set formGroupClasses = formGroupClasses + "form-group-compound " if compound %}

{% set formGroupClasses = formGroupClasses + formGroupClassName if formGroupClassName %}

{% set labelClasses = labelClasses + "govuk-label--l " if isPageHeading %}

{#------------------------------------------#}
{#  Set hint object if hint exists          #}
{#------------------------------------------#}
{% set hintObj = null %}
{% if hint %}
  {% set hintObj = {
    html: hint | safe,
    classes: "govuk-hint",
    id: hintId
  } %}
{% endif %}

{#------------------------------------------#}
{#  Set error object if error exists        #}
{#------------------------------------------#}
{% set errorObj = null %}
{% if error %}
  {% set errorObj = {
    text: error.message,
    id: error.id
  } %}
{% endif %}

{#----------------------------------------------#}
{#  Set govukSelect args                         #}
{#----------------------------------------------#}
{% set args = {
  name: id,
  value: value,
  formGroup: {
    classes: formGroupClasses
  },
  label: {
    html: label | safe,
    classes: labelClasses + labelClassName,
    isPageHeading: isPageHeading,
    for: id
  },
  hint: hintObj,
  errorMessage: errorObj,
  classes: className,
  items: items,
  attributes: {
    "aria-required": required
  }
} %}

{{ govukSelect(args) }}
