frontend/govuk-template/govuk_template.html
sandbox/apps/*/translations/en
sandbox/public
node_modules
coverage
npm-debug.log
.idea
*.iml
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules

.emails
