.govuk-error-message {
  display: block;

  @include govuk-font($size: 19, $weight: bold);
  color: $govuk-error-colour;

  @include govuk-media-query($from: tablet) {
    margin-bottom: 0.5em;
  }
}

.invalid-input,
.govuk-form-group--error .date-input {
  border: $validation-bdr-size solid $govuk-error-colour;
}
