<div class="govuk-form-group {{#error}}govuk-form-group--error{{/error}}">
<fieldset id="{{key}}-group" class="govuk-fieldset{{#className}} {{className}}{{/className}}" role="group">
  <legend class="govuk-fieldset__legend {{#isPageHeading}}govuk-fieldset__legend--l{{/isPageHeading}}{{#legendClassName}} {{legendClassName}}{{/legendClassName}}">
    {{#isPageHeading}}<h1 class="govuk-fieldset__heading">{{/isPageHeading}}
      {{legend}}
    {{#isPageHeading}}</h1>{{/isPageHeading}}
  </legend>
    {{#hint}}
      <span id="{{key}}-hint" class="govuk-hint">{{{hint}}}</span>
    {{/hint}}
    {{#error}}
      <p id="{{key}}-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{error.message}}
      </p>
    {{/error}}
  <div id="{{key}}" class="govuk-date-input">
    {{#input-date}}{{key}}{{/input-date}}
  </div>
</fieldset>
</div>
