@import 'index';

.hods-header {
  background-color: #fff;
  @include govuk-responsive-margin(1, 'bottom');

  &__container {
    align-items: center;
  }

  &__main {
    @include govuk-responsive-padding(4, 'top');
    @include govuk-responsive-padding(2, 'bottom');
    @include govuk-responsive-padding(0, 'left');
    @include govuk-responsive-padding(0, 'right');
    position: relative;
    display: inherit;
    width: 100%;

    @include govuk-media-query($from: tablet) {
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      @include govuk-responsive-padding(6, 'top');
      @include govuk-responsive-padding(6, 'bottom');
    }
    &::after {
      content: '';
      left: 0;
      right: 0;
      bottom: -5px;
      position: absolute;
      border-bottom: solid 5px #7f3f98;
    }
  }

  &__logo {
    width: 84px;
    height: auto;
    margin-right: 0;
    line-height: 0;
    display: block;
    @include govuk-responsive-margin(4, 'bottom');

    @include govuk-media-query($from: tablet) {
      display: inline-block;
      width: 150px;
      @include govuk-responsive-margin(4, 'right');
      margin-bottom: 0;
    }
    &:focus,
    a:focus,
    .govuk-link:focus {
      outline: none;
      background: none;
      box-shadow: none;
    }
  }

  &__title {
    align-self: center;
    @include govuk-responsive-margin(2, 'bottom');

    &__link,
    a {
      display: inline-block;
      text-decoration: none;
      color: #0b0c0c !important;

      &:active,
      &:hover,
      &:link,
      &:visited {
        color: #0b0c0c !important;
      }

      &:hover {
        text-decoration: underline;
      }

      &--service-name {
        @include govuk-font(24);
        white-space: nowrap;
      }
    }

    @include govuk-media-query($from: tablet) {
      text-align: center;
      margin-bottom: 0;
    }
  }
  &__links {
    align-self: center;
    text-align: right;
    &__link,
    a {
      @include govuk-font(19);
      @include govuk-responsive-margin(6, 'left');
      white-space: nowrap;
    }
  }
}
