
@import "../../../frontend/themes/gov-uk/styles/govuk";
@import "../../../node_modules/govuk-frontend/govuk/all";

//autocomplete styling
.tt-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 65%;
  }
  
  .tt-suggestion {
    padding: 0.5em;
  
    &:hover,
    &.tt-cursor {
      color: #fff;
      background-color: #0097cf;
    }
  
    &:hover {
      cursor: pointer;
    }
  }
  
  .twitter-typeahead {
    width: 100%;
  }