<title>{{#t}}pages.rra-prototype.title{{/t}} – GOV.UK</title>

{{<partials-page}}
  {{$page-content}}
    <h2>{{#t}}pages.rra-prototype.subheader{{/t}}</h2>
    <p>Use the relevant ready-reckoner to help you understand your proficiency level before writing the self-assessment</p>
    <p>When completing your self-assessment it is vital that you mark yourself against the descriptions we have included within the relevant professional skills framework and not simply take forward a previous “SFIA” score which may have been applicable to your role</p>
    <p>The word limit for each evidence section is 300 words</p>
    <a href="https://collaboration.homeoffice.gov.uk/display/RRA/RRA+Home">Link to RRA Guidance</a>
    <br/>
    <br/>
    {{#input-submit}}continue{{/input-submit}}
  {{/page-content}}
{{/partials-page}}