{{<layout}}

  {{$propositionHeader}}{{/propositionHeader}}

  {{$header}}
    {{header}}
  {{/header}}

  {{$content}}
    <p class="govuk-body">{{#t}}accessibility.intro-p2{{/t}}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{#t}}accessibility.intro-p2-li1{{/t}}</li>
        <li>{{#t}}accessibility.intro-p2-li2{{/t}}</li>
        <li>{{#t}}accessibility.intro-p2-li3{{/t}}</li>
        <li>{{#t}}accessibility.intro-p2-li4{{/t}}</li>
        <li>{{#t}}accessibility.intro-p2-li5{{/t}}</li>
    </ul>
    <p class="govuk-body">{{#t}}accessibility.intro-p3-pre-link{{/t}} <a href="https://mcmw.abilitynet.org.uk/">{{#t}}accessibility.intro-p3-link{{/t}}</a> {{#t}}accessibility.intro-p3-post-link{{/t}}</p>
    <h2 class="govuk-heading-m">{{#t}}accessibility.how-accessible-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}accessibility.how-accessible-p1{{/t}}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{#t}}accessibility.how-accessible-p1-li1{{/t}}</li>
        <li>{{#t}}accessibility.how-accessible-p1-li2{{/t}}</li>
    </ul>
    <h2 class="govuk-heading-m">{{#t}}accessibility.reporting-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}accessibility.reporting-p1{{/t}}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{#t}}accessibility.reporting-p1-li1-pre-link{{/t}} <a href="mailto:{{#t}}accessibility.contact-email-accessibility{{/t}}">{{#t}}accessibility.contact-email-accessibility{{/t}}</a></li>
    </ul>
    <p class="govuk-body">
        <a href="http://www.w3.org/WAI/users/inaccessible">{{#t}}accessibility.reporting-p2-link{{/t}}</a>
    </p>
    <h2 class="govuk-heading-m">{{#t}}accessibility.enforcement-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}accessibility.enforcement-p1-pre-link{{/t}} <a href ="https://www.equalityadvisoryservice.com/">{{#t}}accessibility.enforcement-p1-link{{/t}}</a></p>
    <p class="govuk-body">{{#t}}accessibility.enforcement-p2{{/t}}</p>
    <h2 class="govuk-heading-m">{{#t}}accessibility.technical-info-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}accessibility.technical-info-p1{{/t}}</p>
    <h2 class="govuk-heading-m">{{#t}}accessibility.compliance-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}accessibility.compliance-p1{{/t}}</p>
    <h2 class="govuk-heading-m">{{#t}}accessibility.non-accessible-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}accessibility.non-accessible-p1{{/t}}</p>
    <h3 class="govuk-heading-m">{{#t}}accessibility.non-compliance-header{{/t}}</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{#t}}accessibility.non-compliance-li1{{/t}}</li>
    </ul>
    <h3 class="govuk-heading-m">{{#t}}accessibility.disproportionate-burden-header{{/t}}</h3>
    <p class="govuk-body">{{#t}}accessibility.disproportionate-burden-p1{{/t}}</p>
    <h3 class="govuk-heading-m">{{#t}}accessibility.outside-scope-header{{/t}}</h3>
    <p class="govuk-body">{{#t}}accessibility.outside-scope-p1{{/t}}</p>
    <h2 class="govuk-heading-m">{{#t}}accessibility.preparation-header{{/t}}</h2>
    <p class="govuk-body">{{#t}}accessibility.preparation-p1{{/t}}</p>
    <p class="govuk-body">{{#t}}accessibility.preparation-p2{{/t}}</p>
    <p class="govuk-body">{{#t}}accessibility.preparation-p3{{/t}}</p>
  {{/content}}
{{/layout}}
