{% extends "partials/page.njk" %}

{% from "partials/summary-table.njk" import summaryTableComponent %}

{% block pageContent %}
  {% for row in rows %}
    {{ summaryTableComponent(row, t, baseUrl) }}
  {% endfor %}

  {{ inputSubmit("confirm") }}
{% endblock %}
