{% extends "layout.njk" %}

{% from "partials/table.njk" import tableComponent %}
{% from "partials/bullet-list.njk" import bulletList %}
{% from "partials/inset-text.njk" import insetTextComponent %}
{% from "partials/session-cookies-table.njk" import cookiesTableComponent %}
{% from "partials/analytics-table.njk" import analyticsTableComponent %}

  {% block propositionHeader %}{% endblock %}

  {% block validationSummary %}
    {% if hasGoogleAnalytics %}
      {% include "partials/cookie-notification.njk" %}
    {% endif %}
  {% endblock %}

 
  {% block mainContent %}
    <p class="govuk-body">{{ intro }}</p>
    {% if not hasGoogleAnalytics %}
      {% if intro_list %}
        {{ bulletList(intro_list.items) }}
      {% endif %}
      {% if indent_intro %}
        {{ insetTextComponent(indent_intro.content) }}
      {% endif %}
      <h2 class="govuk-heading-m">{{ intro_cookie }}</h2>
      <p class="govuk-body">{{ intro_cookie_message }}</p>
      {% if intro_cookie_table %}
        {{ tableComponent(intro_cookie_table) }}
      {% endif %} 
      <h2 class="govuk-heading-m">{{ session_cookies }}</h2>
      <p class="govuk-body">{{ session_cookies_content }}</p>
      {% if session_cookies_table %}
        {{ cookiesTableComponent(session_cookies_table, cookieName) }}
      {% endif %}
    {% endif %}
    {% if hasGoogleAnalytics %}
      <div id="cookie-settings">
        {% if intro_list_ga_tag %}
          {{ bulletList(intro_list_ga_tag.items) }}
        {% endif %}
        {% if indent_intro %}
          {{ insetTextComponent(indent_intro.content) }}
        {% endif %}
        <h2 class="govuk-heading-m">{{ intro_cookie }}</h2>
        <p class="govuk-body">{{ intro_cookie_message }}</p>
        {% if intro_cookie_table %}
          {{ tableComponent(intro_cookie_table) }}
        {% endif %} 
          <h2 class="govuk-heading-m">{{ session_cookies }}</h2>
          <p class="govuk-body">{{ session_cookies_content }}</p>
          {% if session_cookies_table %}
            {{ cookiesTableComponent(session_cookies_table, cookieName) }}
          {% endif %}
        <div class="js-enabled">
          <form>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-heading-m">{{ measuring_use }}</h2>
                </legend>
                {% for item in google_analytics %}
                  <p class="govuk-body">{{ item }}</p>
                {% endfor %}
                {% if google_analytics_list %}
                  {{ bulletList(google_analytics_list.items) }}
                {% endif %}
                <p class="govuk-body">{{ no_identify }}</p>
                {% if analytics_table %}
                  {{ analyticsTableComponent(analytics_table, gaContainerId, containerIdPurpose, containerIdExpires) }}
                {% endif %}
                {% if indent_ga %}
                  {{ insetTextComponent(indent_ga.content) }}
                {% endif %}
                {% include "partials/cookie-settings-radio.njk" %}
              </fieldset>
            </div>
            {% include "partials/cookie-settings-button.njk" %}
          </form>
        </div>
      </div>
    {% endif %}
  {% endblock %}
