{% extends "layout.html" %}

{% block journeyHeader %}
  {{ t('journey.header') }}
{% endblock %}

{% block propositionHeader %}
  {% include "partials/navigation.html" %}
{% endblock %}
 
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ content.title }}</h1>
    <p>{{ content.message | safe }}</p>
    <a href="" class="button" role="button">{{ t('buttons.try-again') }}</a>

    {% if showStack %}
      <pre>{{ error.stack }}</pre>
    {% endif %}
  </div>
</div>
{% endblock %}
