{% extends "govuk/template.njk" %}
{% set govukRebrand = true %}
{% set govukServiceName = t(serviceName or "journey.serviceName") %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
    {% include "partials/head.html" %}
{% endblock %}

{% block pageTitle %}
  {% if errorlist and errorlist.length %}
      {{ t('errorlist.prefix') }}
  {% endif %}
  {% if title %}
    {{ title }}
  {% else %}
      {{ header }}
  {% endif %}
  {% if serviceName %}
    &ndash; {{ serviceName }}
  {% endif %}
    &ndash; GOV.UK
{% endblock %}

{% block bodyStart %}
  {% block cookieBanner %}
   {% include "partials/cookie-banner.html" %}
  {% endblock %}
{% endblock %}

{% block skipLink %}
    {{ govukSkipLink({
        href: '#main-content',
        text: "Skip to main content"
    }) }}
{% endblock %}

{% block header %}
    {% block govukHeader %}
        {{ govukHeader({
            assetsPath: assetPath + '/images',
            homepageUrl: homepageUrl,
            containerClasses: "govuk-width-container",
            productName: t('journey.header' or serviceName),
            useTudorCrown: true,
            rebrand: true
        }) }}
    {% endblock %}
{% endblock %}

{% block beforeContent %}
  {% if feedbackUrl %}
    {{ govukPhaseBanner({
      tag: {
        text: t('journey.phase')
      },
      html: 'This is a new service – your <a class="govuk-link" href="{{ feedbackUrl }}{% if not feedbackUrl %}https://eforms.homeoffice.gov.uk/outreach/feedback.ofml{% endif %}">feedback</a> will help us to improve it.'
    }) }}
  {% endif %} 
  {% include "partials/back.html" %}
{% endblock %}

{% block containerStart %}
  {% if feedbackUrl %}
    {{ govukPhaseBanner({
      tag: {
        text: t('journey.phase')
      },
      html: 'This is a new service – your <a class="govuk-link" href="{{ feedbackUrl }}{% if not feedbackUrl %}https://eforms.homeoffice.gov.uk/outreach/feedback.ofml{% endif %}">feedback</a> will help us to improve it.'
    }) }}
  {% endif %} 
  {% include "partials/back.html" %}
{% endblock %}

{% block footer %}
  {% set default_footer_items = [
    {'href': '/cookies', 'text': t('base.cookies')},
    {'href': '/terms-and-conditions', 'text': t('base.terms')},
    {'href': '/accessibility', 'text': t('base.accessibility')}
  ] %}

  {# build items array from footerlinks (or fallback to defaults) #}
  {% set meta_items = [] %}
  {% if footerlinks %}
    {% for link in footerlinks %}
      {% set meta_items = meta_items + [{'href': link.path, 'text':  t('link.property')}] %}
    {% endfor %}
  {% else %}
    {% set meta_items = default_footer_items %}
  {% endif %}

  {{ govukFooter({
    meta: { items: meta_items },
    assetsPath: assetPath + '/images',
    rebrand: true
  }) }}
{% endblock %}

{% block bodyEnd %}
    <script nonce="{{ cspNonce }}" type="module">if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
    {% block scripts %}{% endblock %}
    {% include "partials/gatag.html" %}
{% endblock %}
