{% extends "layout.html" %}

{% from "partials/bullet-list.html" import bulletList %}

{% block propositionHeader %}{% endblock %}

{% block mainContent %}
  <h2 class="govuk-heading-m">{{ how_we_use }}</h2>

  {% if data_link %}
    {% set ctx = data_link %}
    {% include "partials/external-link.html" %}
  {% endif %}

  <p class="govuk-body">{{ used_for }}</p>

  {% if used_for_list %}
  {{ bulletList(used_for_list.items) }}
  {% endif %}

  <p class="govuk-body">{{ your_info }}</p>

  {% if your_info_list %}
    {{ bulletList(your_info_list.items) }}
  {% endif %}

  <p class="govuk-body">{{ info_gathered }}</p>

  <h2 class="govuk-heading-m">{{ countries }}</h2>

  <p class="govuk-body">{{ countries_text }}</p>
{% endblock %}
