{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

  {% set html %}
    <h1 class="govuk-notification-banner__heading">
      Your cookie settings were saved
    </h1>
    <p class="govuk-body">Government services may set additional cookies and, if so, will have their own cookie policy and banner.</p>
  {% endset %}

  {{ govukNotificationBanner({
    type: "success",
    html: html,
    attributes: {
      "tabindex": "-1",
      "id": "cookie-notification"
    }
  }) }}
