<div id="cookie-banner" class="grid-row">
  <div id="cookie-banner-info" class="column-two-thirds">
    <h1 class="heading-medium js-enabled">Cookies on {{#appName}}{{appName}}{{/appName}{{^appName}}this service{{/appName}}</h1>
    <p class="js-enabled">We use some essential cookies to make this website work.</p>
    <p class="js-enabled">We'd like to set additional cookies to understand how you use this service, remember your settings and improve government services.</p>
    <p class="js-enabled">We also use cookies set by other sites to help us deliver content from their services.</p>
    <!--Non-javascript fallback content-->
    <h1 class="heading-medium js-disabled">Tell us whether you accept cookies</h1>
    <p class="js-disabled">
    We use some essential cookies to make this website work.
    We'd like to set additional cookies to understand how you use GOV.UK, remember your settings and improve government services.
    We also use cookies set by other sites to help us deliver content from their services.
    </p>
  </div>
  <div id="cookie-banner-actions" class="column-two-thirds">
    <button id="accept-cookies-button" class="button js-enabled" type="button" aria-label="Yes, accept cookies that measure website usage">Accept additional cookies</button>
    <button id="reject-cookies-button" class="button js-enabled" type="button" aria-label="No, decline cookies that measure website usage">Reject additional cookies</button>
    <a href="/cookies" class="js-enabled">View cookies</a>
    <!--Non-javascript fallback content-->
    <a href="/cookies" role="button" class="button js-disabled">Set cookie preferences</a>
  </div>
  <div id="cookie-banner-submitted" tabindex="-1">
    <p>Your cookie preferences have been saved. You can <a href="/cookies">change your cookie settings</a> at any time.</p>
    <button id="hide-cookie-banner" class="button" type="button" aria-label="Hide cookie banner">Hide</button>
  </div>
</div>
