<div id="cookie-banner"  class="govuk-cookie-banner gem-c-cookie-banner govuk-clearfix">
	<div class="gem-c-cookie-banner__message govuk-cookie-banner__message govuk-width-container">
		<div id="cookie-banner-info" class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on {{#appName}}{{appName}}{{/appName}}{{^appName}}this service{{/appName}}</h2>
				<div class="govuk-cookie-banner__content">
					<p class="govuk-body">We use some essential cookies to make this website work.</p>
					<p class="govuk-body">We'd like to set additional cookies to understand how you use GOV.UK, remember your settings and improve government services.</p>
					<p class="govuk-body">We also use cookies set by other sites to help us deliver content from their services.</p>
				</div>
			</div>
		</div>
		<div id="cookie-banner-actions" class="govuk-button-group">         
				<button id="accept-cookies-button" class="gem-c-button govuk-button" type="submit" data-module="gem-track-click" data-accept-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner accepted" data-cookie-types="all">Accept additional cookies</button>
	
				<button id="reject-cookies-button" class="gem-c-button govuk-button" type="submit" data-module="gem-track-click" data-reject-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner rejected">Reject additional cookies</button>

				<a class="govuk-link" href="/cookies">View cookies</a>
		</div>
	</div>
	<div class="gem-c-cookie-banner__confirmation govuk-width-container" hidden=""  id="cookie-banner-submitted" >
		<p class="gem-c-cookie-banner__confirmation-message" role="alert">
      Your cookie preferences have been saved. You can <a class="govuk-link" data-module="gem-track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation" href="/cookies">change your cookie settings</a> at any time.
    </p>
		<div class="govuk-button-group">
			<button   class="gem-c-cookie-banner__hide-button govuk-button"  id="hide-cookie-banner">Hide this message</button>
		</div>
	</div>
</div>
