{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro detailsComponent(details, customSummary=null, customText=null) %}
  {% set summaryHtml = customSummary or details.summary or '' %}
  {% set html = customText or details.text or '' %}

  {{ govukDetails({
    summaryHtml: summaryHtml,
    html: html
  }) }}
{% endmacro %}
