<!-- For old Universal Google Analytics Property Tags -->
{{#gaTagId}}
    <script{{#nonce}} nonce="{{nonce}}"{{/nonce}}>
      var preferences = JSON.parse(GOVUK.cookie('cookie_preferences'));

      if (preferences !== null && preferences.usage === true) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{gaTagId}}', 'auto');

        {{#gaCrossDomainTrackingTagId}}
          ga('create', '{{gaCrossDomainTrackingTagId}}', 'auto', 'govuk_shared', { 'allowLinker': true });
          ga('govuk_shared.require', 'linker');
          ga('govuk_shared.set', 'anonymizeIp', true);
          ga('govuk_shared.set', 'allowAdFeatures', false);
          ga('govuk_shared.linker:autoLink', ['www.gov.uk', 'www.nationalarchives.gov.uk', 'www.eforms.homeoffice.gov.uk']);
        {{/gaCrossDomainTrackingTagId}}

        var path = document.location.href;
        var regex = /f_t=([\s\S]*?)?(&|$)/;

        if (path.match(regex) && path.match(regex).length > 0) {
          var matchedSubstring = path.match(regex)[1];
          var redactedPath = path.replace(matchedSubstring, '[reference]');
          ga('set', 'location', redactedPath);
        }

        ga('send', 'pageview');

        {{#gaCrossDomainTrackingTagId}}
          ga('govuk_shared.send', 'pageview')
        {{/gaCrossDomainTrackingTagId}}
      }

    </script>
{{/gaTagId}}

<!-- For new Google Analytics 4 Property Tags -->
{{#ga4TagId}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async {{#nonce}} nonce="{{nonce}}"{{/nonce}} src="https://www.googletagmanager.com/gtag/js?id={{ga4TagId}}"></script>
  <script {{#nonce}} nonce="{{nonce}}"{{/nonce}}>
    var preferences = JSON.parse(GOVUK.cookie('cookie_preferences'));

    if (preferences !== null && preferences.usage === true) {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ga4TagId}}');
    }
  </script>
{{/ga4TagId}}
