{% block journeyHeader %}
  {{ t('journey.header') }}
{% endblock %}

{% block validationSummary %}
  {% include "partials/validation-summary.njk" %}
{% endblock %}

{% block propositionHeader %}
  {% include "partials/navigation.njk" %}
{% endblock %}
