{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "table title"
      },
      actions: {
        items: [
          {
            href: "#",
            text: t('buttons.edit'),
            visuallyHiddenText: "change for edit"
          },
          {
            href: "#",
            text: t('buttons.delete'),
            visuallyHiddenText: "change for delete"
          }
        ]
    }
      },
      {
      key: {
        text: "Item details",
        classes: "summary-list-key-no-bold"
      },
        value: {
        html: '<p class="govuk-body">sarah.phillips@example.com</p>'
      }
    }
  ]
})
}}
