{% extends "layout.njk" %} 

{% from "partials/form.njk" import form %}

{% block validationSummary %}
  {% include "partials/validation-summary.njk" %}
{% endblock %}

{% block propositionHeader %}
  {% include "partials/navigation.njk" %}
{% endblock %}

{% block mainContent %}
  {% call form(encoding=encoding, intro=intro, csrf_token) %}
    {% block pageContent %}{% endblock %}
  {% endcall %}
  {% include "partials/session-timeout-warning.njk" %}
{% endblock %}
