<table class="govuk-table">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    {{#headers}}
    <th scope="col" class="govuk-table__header app-custom-class">{{.}}</th>
    {{/headers}}
  </tr>
  </thead>
  <tbody>
  <tr class="govuk-table__row">
    {{#cookieName}}
      <td scope="row" class="govuk-table__header">{{cookieName}}</td>
    {{/cookieName}}
    {{^cookieName}}
      <td>{{defaultCookieName}}</td>
    {{/cookieName}}
    <td>{{defaultCookiePurpose}}</td>
    <td>{{defaultCookieExpires}}</td>
  </tr>
  {{#rows}}
  <tr>
    {{#.}}
    <td>{{.}}</td>
    {{/.}}
  </tr>
  {{/rows}}
  </tbody>
</table>
