<div class="govuk-summary-list__row">
  {% if isSeparator %}
  {% else %}
    <dt class="govuk-summary-list__key">
      {{ label }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ value }}
    </dd>
    {% if not omitChangeLink %}
      {% if changeLink %}
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{{ changeLink }}" id="{{ field }}-change-{{ index }}">{{ t('buttons.change') }}<span class="govuk-visually-hidden"> {{ changeLinkDescription }} from {{ value }}</span></a>
        </dd>
      {% else %}
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="{{ baseUrl }}{{ step }}/edit#{{ field }}" id="{{ field }}-change">{{ t('buttons.change') }}<span class="govuk-visually-hidden"> {{ changeLinkDescription }} from {{ value }}</span></a>
        </dd>
      {% endif %}
    {% else %}
      <dd></dd>
    {% endif %}
  {% endif %}
</div>
