<div id="" class="hods-task-list">
  <p class="govuk-body govuk-!-margin-bottom-0"><strong class="tasklist-summary">COP reference number</strong></p>
  <p class="govuk-body govuk-!-font-weight-regular">123</p>
  <p class="govuk-body govuk-!-margin-bottom-0"><strong class="tasklist-summary">Incomplete form</strong></p>
  <p class="govuk-body govuk-!-margin-bottom-7">You have completed 2 of 7 sections</p>
  <h2 class="hods-task-list__section">1. Add event details</h2>
  <ol class="hods-task-list__items">
    <li class="hods-task-list__item"><span class="hods-task-list__task-name"><a data-module="govuk-link" tabindex="0"
          class="govuk-link">Date, location and mode details</a></span><strong
        class="hods-tag hods-tag--dark-blue hods-task-list__tag">Completed</strong></li>
    <li class="hods-task-list__item"><span class="hods-task-list__task-name"><a data-module="govuk-link" tabindex="0"
          class="govuk-link">Officer and agency details</a></span><strong
        class="hods-tag hods-tag--white hods-task-list__tag">In Progress</strong></li>
  </ol>
  <h2 class="hods-task-list__section">2. Add people details</h2>
  <ol class="hods-task-list__items">
    <li class="hods-task-list__item"><span class="hods-task-list__task-name"><a data-module="govuk-link" tabindex="0"
          class="govuk-link">People details</a></span><strong
        class="hods-tag hods-tag--dark-blue hods-task-list__tag">Completed</strong></li>
    <li class="hods-task-list__item"><span class="hods-task-list__task-name"><a data-module="govuk-link" tabindex="0"
          class="govuk-link">Immigration details</a></span><strong
        class="hods-tag hods-tag--white hods-task-list__tag">In Progress</strong></li>
    <li class="hods-task-list__item"><span class="hods-task-list__task-name"><a data-module="govuk-link" tabindex="0"
          class="govuk-link">Journey details</a></span><strong
        class="hods-tag hods-tag--dark-grey hods-task-list__tag">Not Started</strong></li>
  </ol>
  <h2 class="hods-task-list__section">3. Add item details</h2>
  <ol class="hods-task-list__items">
    <li class="hods-task-list__item"><span class="hods-task-list__task-name">Item details</span><strong
        class="hods-tag hods-tag--dark-grey hods-task-list__tag">Cannot Start Yet</strong></li>
    <li class="hods-task-list__item"><span class="hods-task-list__task-name">Search and interception
        details</span><strong class="hods-tag hods-tag--dark-grey hods-task-list__tag">Cannot Start Yet</strong></li>
  </ol>
</div>