{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% if errorlist.length %}
	{% if errorLength.single %}
		{% set errorlistTitle = t('errorlist.title.single') %}
	{% endif %}
	{% if errorLength.multiple %}
		{% set errorlistTitle = t('errorlist.title.multiple') %}
	{% endif %}

	{% set validationSummary = [] %}

	{% if errorlist %}
		{% for error in errorlist %}
			{% if error.message %}
				{% set validationSummary = (validationSummary.push({
					text: error.message,
					href: "#" + error.errorLinkId
				}), validationSummary) %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{{ govukErrorSummary({
		titleText: errorlistTitle,
		errorList: validationSummary
	}) }}
{% endif %}
