html {
    background: govuk-colour("light-grey");
}
body {
    background: govuk-colour("white");
}
.main-content {
    img {
        max-width: 100%;
    }
    .svg {
        width: 100%;
    }
}
.hmpo {
    white-space: nowrap;
}
