// Panels gov.uk elements version 2.0
// ==========================================================================
// Now deprecated

// Indented panels with a grey left hand border
.panel-indent {
  @include govuk-clearfix;
  clear: both;
  border-left: 4px solid govuk-colour("mid-grey");

  padding: govuk-spacing(2) 0 govuk-spacing(2) govuk-spacing(3);
  margin: govuk-spacing(6) govuk-spacing(3) govuk-spacing(9) 0;
}

.panel-indent legend {
  margin-top: 0;
}

// Remove bottom margin on last paragraph
.panel-indent p:only-child,
.panel-indent p:last-child {
  margin-bottom: 0;
}

.panel-indent .form-group:last-child {
  margin-bottom: 0;
}
