// layout
$header-border-width: 10px;
$header-border: $header-border-width solid govuk-colour("blue");

// forms
$focus-border-width: 3px;
$focus-outline: $focus-border-width solid govuk-colour("yellow");

// validation
$validation-bdr-size: 3px;
$validation-bdr-size-lg: $validation-bdr-size + 1;
