{% extends "email/layout.njk" %}
  {% block emailContent %}
    {% if data %}
      {% include "email/section-row.njk" %}
      {% for field in fields}
        {% if field.value %}
          {% set field = field %}
          {% include "email/data-row.njk" %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endblock %}
