{{ t("email.information.subject") }}
{{ t("email.content." +  recipient + "-intro") }}
{{ t("email.information.enquiry") }}
{% if data %}
  {{ t("pages." + section + ".header") }}
  {% for field in fields %}
    {% if field.value %}
      {{ t("email.fields." + field.field) }}: {{ field.value }}
    {% endif %}
  {% endfor %}
{% endif %}
