<div id="{{key}}-group" class="form-group{{#className}} {{className}} {{/className}}{{#formGroupClassName}} {{formGroupClassName}}{{/formGroupClassName}}{{#error}} validation-error{{/error}}">
    <fieldset role="{{role}}"{{#ariaRequired}} aria-required="true"{{/ariaRequired}}{{#hint}} aria-describedby="{{key}}-hint"{{/hint}}>
        <legend>
            <span{{#legendClassName}} class="{{legendClassName}}"{{/legendClassName}}>{{legend}}</span>
            {{#hint}}<span id="{{key}}-hint" class="form-hint">{{hint}}</span>{{/hint}}
            {{#error}}<span id="{{key}}-error" class="error-message">{{error.message}}</span>{{/error}}
        </legend>
        {{#options}}
        <div class="multiple-choice">
            <input
                type="{{type}}"
                name="{{key}}"
                id="{{key}}-{{value}}"
                value="{{value}}"
                required="true"
                {{#toggle}} data-toggle="{{toggle}}"{{/toggle}}
                {{#selected}} checked="checked"{{/selected}}
                {{^error}}{{#optionHint}} aria-describedby="{{key}}-{{value}}-hint"{{/optionHint}}{{^optionHint}}{{#hint}} aria-describedby="{{key}}-hint"{{/hint}}{{/optionHint}}{{/error}}
                {{#error}} aria-describedby="{{key}}-error" aria-invalid="true"{{/error}}
            >
            <label class="block-label" for="{{key}}-{{value}}">
                {{{label}}}
                {{#optionHint}}<span id="{{key}}-{{value}}-hint" class="form-hint">{{optionHint}}</span>{{/optionHint}}
            </label>
        </div>
        {{#renderChild}}{{/renderChild}}
        {{/options}}
    </fieldset>
</div>
