{% extends "partials/page.html" %}
  {% block pageContent %}
    {% if postcode %}
      <p>
        <label>{{ postcodeEntered }}</label>
        <strong><span class="postcode">{{ postcode }}</span></strong>
        <strong><span class="link"><a class="change-postcode" href="{{ qs('step=postcode') }}">{{ editLink }}</a></span></strong>
      </p>
    {% endif %}
    {% if postcodeError %}
      <div class="alert-info">
        <span class="info-message">
          {{ postcodeError }}
        </span>
      </div>
    {% endif %}
    {% for field in fields %}
      {{ renderField(field) | safe }}
    {% endfor %}
    {{ inputSubmit("continue") }}
  {% endblock %}
