{% extends "partials/page.html" %}
  {% block pageContent %}
      <p>
      <label>{{ postcodeEntered }}</label>
      <strong><span class="postcode">{{ postcode }}</span></strong>
      <strong><span class="link"><a class="change-postcode" href="{{ qs('step=postcode') }}">{{ editLink }}</a></span></strong>
    </p>
    {% for field in fields %}
      {{ renderField(field) | safe }}
    {% endfor %}
    <p><span class="link"><a class="cant-find" href="{{ qs('step=manual') }}">{{ cantFind }}</a></span></p>
    {{ inputSubmit("continue") }}
  {% endblock %}
