{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{#-------------------------------------------#}
{#  Set classes                              #}
{#-------------------------------------------#}
{% set legendClasses = "" %}
{% set classes = className or "" %}
{% set legendClasses = legendClasses + "govuk-fieldset__legend--l " if isPageHeading %}

<div class="govuk-form-group{% if error %} govuk-form-group--error{% endif %}">
  {% call govukFieldset({
    attributes: { id: key + "-group" },
    role: "group",
    legend: {
      html: legend | safe,
      classes: legendClasses + (legendClassName if legendClassName),
      isPageHeading: isPageHeading
    },
    classes: classes
  }) %}
  {% if hint %}
    <div id="{{ key }}-hint" class="govuk-hint">
      {{ hint | safe }}
    </div>
  {% endif %}
  {% if error %}
    <p id="{{ key }}-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ error.message }}
    </p>
  {% endif %}
    <div id="{{ key }}" class="govuk-amount-with-unit-select-input">
      {{ inputAmountWithUnitSelect(key) }}
    </div>
  {% endcall %}
</div>
