# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages
name: Automate_Tag
on: [push]
env:
  TAGGING_NODE_VERSION: 24
jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        redis-version: [7, 8]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Start Redis
        uses: supercharge/redis-github-action@1.2.0
        with:
          redis-version: ${{ matrix.redis-version }}
      - uses: borales/actions-yarn@v3.0.0
        with:
          cmd: install --frozen-lockfile
      - run: npm test

  auto-tag-patch:
    needs: test
    runs-on: ubuntu-22.04
    if: |
      startsWith(github.ref, 'refs/heads/master') &&
      !contains(github.event.head_commit.message, '[MAJOR]') &&
      !contains(github.event.head_commit.message, '[MINOR]')
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.TAGGING_NODE_VERSION }}
          registry-url: https://registry.npmjs.org/
      - run: |
          git config --local user.email "$(git log --format='%ae' HEAD^!)"
          git config --local user.name "$(git log --format='%an' HEAD^!)"
          npm version patch

  auto-tag-minor:
    needs: test
    runs-on: ubuntu-22.04
    if: |
      startsWith(github.ref, 'refs/heads/master') &&
      !contains(github.event.head_commit.message, '[MAJOR]') &&
      contains(github.event.head_commit.message, '[MINOR]')
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.TAGGING_NODE_VERSION }}
          registry-url: https://registry.npmjs.org/
      - run: |
          git config --local user.email "$(git log --format='%ae' HEAD^!)"
          git config --local user.name "$(git log --format='%an' HEAD^!)"
          npm version minor

  auto-tag-major:
    needs: test
    runs-on: ubuntu-22.04
    if: |
      startsWith(github.ref, 'refs/heads/master') &&
      contains(github.event.head_commit.message, '[MAJOR]') &&
      !contains(github.event.head_commit.message, '[MINOR]')
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.TAGGING_NODE_VERSION }}
          registry-url: https://registry.npmjs.org/
      - run: |
          git config --local user.email "$(git log --format='%ae' HEAD^!)"
          git config --local user.name "$(git log --format='%an' HEAD^!)"
          npm version major
